.headerMainContainer {
    padding: 3px;
    display: flex;
    gap: 10px;
    align-items: center;

    .headerLogo {
        width: 150px;
        height: 70px;
        margin-right: 20px;
        @media(max-width: 600px) {
            width: 120px;
            height: 60px;
        }
    }
    .headerLinks {
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            color: #fbc707;
        }
        @media(max-width: 600px) {

        }
    }
    .headerNavLinks {
        display: flex;
        gap: 10px;
        align-items: center;
        }
}